@use "./variables" as a;

.section__advantages{
  height: 21em;
  width: 100%;
  position: relative;

  &-container{
    position: absolute;
    width: 77%;
    height: 27.6em;
    background-color: white;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-title{
    font-size: 2em;
    font-weight: 300;
    color: a.$secondary-blue;
    margin-top: 2em;

    &-card{
      font-size: 0.9em;
      color: a.$main-blue;
    }
  }
  &-subtitle{
    font-size: 0.8em;
  }

}

@media (max-width:420px){
  .section__advantages{
    height: max-content;
    &-container{
      position: inherit;
      width: 100%;
      height: fit-content;
      margin: 0;
      text-align: center;
    }
    &-title{
      margin-top: 0.5em;
      font-size: 1.7em;
      &-card{
        text-align: start;
      }
    }
    &-subtitle{
      font-size: 0.7em;
      text-align: start;
    }
  }
}