@use "./variables" as a;

.section__advantages{
  height: 21em;
  width: 100%;
  position: relative;

  &-container{
    position: absolute;
    width: 77%;
    height: 27.6em;
    background-color: white;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-title{
    font-size: 2em;
    font-weight: 300;
    color: a.$secondary-blue;

    &-card{
      font-size: 0.9em;
      color: a.$main-blue;
    }
  }
  &-subtitle{
    font-size: 0.8em;
  }

}