.section__toSell {
  height: 30em;
  width: 100%;
  background: url("../../public/assets/ferran-fusalba-99194-copy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-img {
    width: 48em;
    height: 25em;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    bottom: -1em;
  }
  &-title {
    font-size: 2em;
    font-weight: 300;
    color: #008bcf;
  }
}

.steps {
  &__container {
    width: 48em;
    height: 9em;
    background-color: white;
  }
  &__number {
    background-color: #008bcf;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    & > p {
      color: white;
      font-size: 1.5em;
      font-family: palatino;
      font-style: italic;
      font-weight: 400;
      position: absolute;
      right: 0.44em;
    }
  }
  &__title {
    font-size: 0.8em;
  }
  &__subtitle {
    font-size: 0.6em;
  }
}
